<header class="header_wrapper">
  <nav class="flex align-middle h-full">
    <div class="min-w-[215px] my-auto">
      <img src="/logo-light.png" alt="Cnect Logo" width="120px" />
    </div>

    <ul class="flex items-center gap-2">
      <li>
        <div
          class="flex gap-2 items-center hover:text-white cursor-pointer text-inactive rounded-md px-3"
        >
          <span class="material-icons md-18">contact_page</span>
          <p>Applications</p>
        </div>
      </li>
      <li>
        <div
          class="flex gap-2 items-center hover:text-white cursor-pointer text-inactive rounded-md px-3"
        >
          <span class="material-icons md-18 material-symbols-outlined"
            >account_circle</span
          >
          <p>Profiles</p>
        </div>
      </li>
      <li>
        <div
          class="flex gap-2 items-center hover:text-white cursor-pointer text-inactive rounded-md px-3"
        >
          <span class="material-icons md-18 material-symbols-outlined"
            >smart_display</span
          >
          <p>Videos</p>
        </div>
      </li>
    </ul>

    <!-- <ul>
        <li>
            <div class="flex items-center">
                <span class="material-icons md-light">notifications</span>
                <p>Notifications</p>
            </div>
            <div>profile</div>
            <div class="flex gap-2">
                <p>Ibrahim Kedir</p>
                <span class="material-icons md-light">expand_more</span>
            </div>
      </li>
    </ul> -->
  </nav>
</header>
