<header class="header_wrapper">
  <nav class="flex align-middle h-full">
    <div class="min-w-[215px] my-auto">
      <img src="/logo-light.png" alt="Cnect Logo" width="120px" />
    </div>

    <ul class="flex items-center gap-2">
      <li *ngFor="let linkData of linkInfo">
        <app-nav-link [linkInfo]="linkData"></app-nav-link>
      </li>
    </ul>

    <!-- <ul>
        <li>
            <div class="flex items-center">
                <span class="material-icons md-light">notifications</span>
                <p>Notifications</p>
            </div>
            <div>profile</div>
            <div class="flex gap-2">
                <p>Ibrahim Kedir</p>
                <span class="material-icons md-light">expand_more</span>
            </div>
      </li>
    </ul> -->
  </nav>
</header>
