<header class="header_wrapper">
  <nav class="flex align-middle h-full">
    <div class="min-w-[215px] my-auto max-lg:ml-16">
      <img src="/logo-light.png" alt="Cnect Logo" width="120px" />
    </div>

    <main
      (click)="toggleHamburgerMenu()"
      class="cursor-pointer hum_menu_wrapper"
    >
      <div
        id="toggleMenu"
        class="grid place-content-center humberger_toggle"
        [class.humberger_toggle]="isToggled"
      >
        <div class="hum_menu"></div>
      </div>
    </main>
    <div class="header_link_wrapper" [class.drawer_toggle]="isToggled">
      <ul class="header_link_info_wrapper">
        <li *ngFor="let primaryLinkData of primaryLinkInfo">
          <app-nav-link [linkinfo]="primaryLinkData"></app-nav-link>
        </li>
      </ul>
      <ul class="header_link_info_wrapper sidebar">
        <li *ngFor="let secondaryLinkData of secondaryLinkInfo">
          <app-nav-link [linkinfo]="secondaryLinkData"></app-nav-link>
        </li>
      </ul>
      <span
        (click)="toggleHamburgerMenu()"
        class="material-icons text-lg max-lg:text-2xl close_chevron_icon text-white"
        >arrow_back</span
      >
    </div>

    <!-- <ul>
        <li>
            <div class="flex items-center">
                <span class="material-icons md-light">notifications</span>
                <p>Notifications</p>
            </div>
            <div>profile</div>
            <div class="flex gap-2">
                <p>Ibrahim Kedir</p>
                <span class="material-icons md-light">expand_more</span>
            </div>
      </li>
    </ul> -->
  </nav>
</header>
